@media only screen and (max-width:480px){
    .common-section-title h2{
        font-size: 24px;
    }
    .nav-items{
        display: none;
    }
    .banner-section{
        padding: 16px;
    }
    .banner-section h1{
        font-size: 24px;

    }
    .banner-image img{
        width: 100%;
    }
    .trusted-badge{
        display: none;
    }
    .plant-lover-heading{
        font-size: 24px;
    }
    .plant-lover-content{
        height: auto;
    }
}